* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

#projectGrid {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 15px;

  grid-template-columns: repeat(4, 400px);
}

@media (max-width: 1800px) {
  #projectGrid {
    grid-template-columns: repeat(3, 400px);
  }
}
@media (max-width: 1300px) {
  #projectGrid {
    grid-template-columns: repeat(2, 400px);
  }
}
@media (max-width: 900px) {
  #projectGrid {
    grid-template-columns: repeat(1, 400px);
  }
}

#SocialGrid {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 15px;

  grid-template-columns: repeat(3, 400px);
}

@media (max-width: 1800px) {
  #SocialGrid {
    grid-template-columns: repeat(3, 400px);
  }
}
@media (max-width: 1300px) {
  #SocialGrid {
    grid-template-columns: repeat(2, 400px);
  }
}
@media (max-width: 900px) {
  #SocialGrid {
    grid-template-columns: repeat(1, 400px);
  }
}
